<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Datos de la Persona</title>
    <meta charset="UTF-8" />
</head>

<body>

    <form th:action="@{/guardar}" method="post" th:object="${usuario}">
        <input type="hidden" name="id" th:field="*{id}" />
        <br />
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" th:field="*{nombre}" />
        <br />
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" th:field="*{apellido}" />
        <br />
        <label for="correo">Email:</label>
        <input type="email" name="correo" th:field="*{correo}" />
        <br />
        <input type="submit" name="guardar" value="guardar" />
    </form>
</body>
</html>